/* LIST OPTIONS */

.list-options-item{
  z-index:1;
  background-color:#FFF;
}

.list-options-pressed{
  z-index:1;
  background-color:#FFF;
}

.list-options-selected{
  z-index:1;
  background-color:#FFF;
}

.list-options-menu{
  background-color: #314252;
}

