/* LIST OPTIONS */

.list-options{
  background-color:#FFF;
}

.list-options-item{
  z-index:1;
  background-color:#FFF;
}

.list-options-pressed{
  z-index:1;
  background-color:#FFF;
}

.list-options-selected{
  z-index:1;
  background-color:#FFF;
}

.list-options-menu{
  background-color: #314252;
}

.list-options-menu li{
  background-position:center center;
  background-repeat:no-repeat;
}

.list-options-menu li[class*='bookmark']{ background-image:url('../icons/bookmark.png'); }
.list-options-menu li[class*='action']{ background-image:url('../icons/action.png'); }
.list-options-menu li[class*='delete']{ background-image:url('../icons/delete.png'); }


.top-shadow{
  width:100%;
  height:100%;
  -webkit-box-shadow:inset 0 8px 4px -5px black;
  -moz-box-shadow:inset 0 8px 4px -5px black;
  box-shadow:inset 0 8px 4px -5px black;
}

.bottom-shadow{
  width:100%;
  height:100%;
  -webkit-box-shadow:inset 0 -8px 4px -7px black;
  -moz-box-shadow:inset 0 -8px 4px -7px black;
  box-shadow:inset 0 -8px 4px -7px black;  
}