/* OVERRIDE */

.x-dragging{
  opacity:1;
}

/* GENERAL */



/* LIST */

.notification-list{
  background-color:transparent;
}

.notification-list .x-list-header{
  color:#FFF;
  padding:0;
  font-size:17px;
  padding-left:5px;
  padding-top:4px;
  text-shadow: 0px -2px 1px #000000;
  filter: dropshadow(color=#000000, offx=0, offy=1);
  background-color:transparent, transparent;
  background-image: url('../images/header-bg.png'),url('../images/cross2.png');
  border:0px;
  -webkit-box-shadow:  0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
  width:100%;
  height:30px;
  background-repeat:repeat,no-repeat;
  background-position:left left, 99% center;
}

.notification-list .x-list-header .cross{
  position: absolute;
  top:4px;
  right:3px;
  height:24px;
  width:24px;
  background-image: url('../images/cross2.png');
  background-repeat:no-repeat;
  background-position:center center;
}

.notification-list .x-list-header div.icon{
  float:left;
  width:24px;
  height:24px;
  margin-right:5px;
}

.notification-list div.x-list-header div[class*='Facebook'] div.icon{
  background-image:url('../images/icons/facebook.png');
  background-repeat:no-repeat;
  background-position:center center;
}

.notification-list div.x-list-header div[class*='Message'] div.icon{
  background-image:url('../images/icons/sms.png');
  background-repeat:no-repeat;
  background-position:center center;
}

.notification-list div.x-list-header div[class*='Phone'] div.icon{
  background-image:url('../images/icons/phone.png');
  background-repeat:no-repeat;
  background-position:center center;
}

.notification-list div.x-list-item-label{
  border-top: none !important;
  border-bottom: none !important;
  padding:0 !important;
}

.notification-item{
  margin:0;
  padding:0;
  min-height: 80px;
  background-color:transparent;
}

.notification-item-pressed{
  min-height: 80px;
  background-color:transparent;
}

.notification-item-selected{
  min-height: 80px;
  background-color:transparent;
}

/* NOTIFICATION */

.notification-item-title{
  padding-left:34px;
  padding-top:6px;
  color:#FFF;
  font-weight:bold;
  text-shadow: 0px 1px 2px #000000;
  filter: dropshadow(color=#000000, offx=0, offy=2);

}

.notification-item-description{
  padding-left:34px;
  padding-top:4px;
  padding-bottom:4px;
  color:#FFF;
  font-size:14px;
  text-shadow: 0px 1px 2px #000000;
  filter: dropshadow(color=#000000, offx=0, offy=2);
}

.notification-item-title .icon{
  float:left;
  width:24px;
  height:24px;
  margin-right:5px;
}

