.collection-item {

  float: left;
  margin: 4px;

  .picture {

    width: 96px;
    height: 96px;

    background-size: 96px;
    background-position: center center;
    border: 2px solid white;

    @include box-shadow(0 0 2px rgba(0, 0, 0, 0.5));

  }

}