.collection {

  text-align: center;
  display:-moz-box; /* Firefox */
  display:-webkit-box; /* Safari and Chrome */
  display:box;

}

.collection-item {

  display: inline-block;
  -moz-box-flex:2.0; /* Firefox */
  -webkit-box-flex:2.0; /* Safari and Chrome */
  box-flex:2.0;

  .picture {

    width: 96px;
    height: 96px;

    background-size: 96px;
    background-position: center center;
    border: 2px solid white;

    @include box-shadow(0 0 2px rgba(0, 0, 0, 0.5));

  }

}