.infinite-carousel .carousel-item.picture {

  border: 4px solid white;
  margin: 20px;
  width: auto;
  height: 280px;
  max-height: 280px;
  background-size: 100%;
  background-repeat: no-repeat;

  @include box-shadow(0 0 2px rgba(0, 0, 0, 0.5));

}