.infinite-carousel .carousel-item.picture {

  margin: auto;
  width: 320px;
  height: 320px;
  max-height: 320px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;

  @include box-shadow(0 0 2px rgba(0, 0, 0, 0.5));

}