.reminder-list {

  background-color:#FFF;

}

.reminder-item {

  color:#222 !important;
  margin:0;
  padding:0;
  background-color:transparent;

  .x-list-item-label {

    padding: 0 !important;

  }

}

.reminder-item-pressed {

  background-color:transparent;

}

.reminder-item-selected {

  background-color:transparent;

}

.reminder-item-ticker {

  float:left;
  padding-top:10px;
  padding-left:8px;
  width:24px;
  height:26px;

}

.reminder-item-title {

  float:left;

  .label {

    position: relative;
    top:11px;
    margin-left:8px;
    color:#222;

  }

}

.reminder-textfield input {

  border-style: none;
  background-color: transparent;

}