/* LIST */

.reminder-list{
  background-color:#444;
}

.reminder-item{
  color:#888 !important;
  margin:0;
  padding:0;
  background-color:transparent;
}

.reminder-item-pressed{
  background-color:transparent;
}

.reminder-item-selected{
  background-color:transparent;
}

.reminder-item .x-list-item-label {
  padding: 0 !important;
}

/* TASK */

.reminder-item-ticker{
  float:left;
  padding-top:10px;
  padding-left:8px;
  width:24px;
  height:26px;
}

.reminder-item-title{
  float:left;
}

.reminder-item-title .label{
  position: relative;
  top:11px;
  margin-left:8px;
  color:#FFF;
  font-weight:bold;
  text-shadow: 0px 1px 2px #000000;
  filter: dropshadow(color=#000000, offx=0, offy=2);
}

.reminder-textfield input{
  color:#FFF;
  font-weight:bold;
  text-shadow: 0px 1px 2px #000000;
  filter: dropshadow(color=#000000, offx=0, offy=2);
  border-style: none;
  background-color: transparent;
}
